/* line 1, ../scss/_body.scss */
* {
  box-sizing: border-box; }

/* line 6, ../scss/_body.scss */
body {
  min-width: 750px;
  overflow-x: hidden;
  background: steelblue;
  font-family: "Open Sans", arial; }

/* line 13, ../scss/_body.scss */
.fileIcon {
  width: 25px; }

/* line 18, ../scss/_body.scss */
#copyHTMLforms {
  display: none; }

/* line 22, ../scss/_body.scss */
footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 100%;
  text-align: right;
  font-size: 10px;
  color: white;
  padding-right: 5px; }

/* line 34, ../scss/_body.scss */
span.button {
  width: 220px;
  height: 52px;
  display: block;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
  border: 1px solid #38678f;
  color: #666 !important;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  cursor: pointer; }
  /* line 49, ../scss/_body.scss */
  span.button:hover {
    background: #FDCE0E; }

/* line 1, ../scss/_tablefiles.scss */
.filelist {
  width: 100%;
  height: auto;
  display: none; }
  /* line 6, ../scss/_tablefiles.scss */
  .filelist span.button.refresh {
    width: 220px;
    height: 52px;
    display: block;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
    border: 1px solid #38678f;
    margin-left: 75px;
    margin-top: 20px; }
  /* line 20, ../scss/_tablefiles.scss */
  .filelist span.button.download {
    width: 220px;
    height: 52px;
    display: block;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
    border: 1px solid #38678f;
    margin-left: 75px;
    margin-top: 20px;
    position: absolute;
    top: 0px;
    right: 83px;
    font-weight: bold; }
  /* line 39, ../scss/_tablefiles.scss */
  .filelist table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    border: 1px solid #38678f;
    margin: 50px auto;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite; }
    /* line 49, ../scss/_tablefiles.scss */
    .filelist table th {
      background: steelblue;
      height: 54px;
      width: 25%;
      font-weight: lighter;
      text-shadow: 0 1px 0 #38678f;
      color: white;
      border: 1px solid #38678f;
      box-shadow: inset 0px 1px 2px #568ebd;
      transition: all 0.2s; }
    /* line 61, ../scss/_tablefiles.scss */
    .filelist table tr {
      border-bottom: 1px solid #cccccc; }
      /* line 63, ../scss/_tablefiles.scss */
      .filelist table tr:last-child {
        border-bottom: 0px; }
      /* line 67, ../scss/_tablefiles.scss */
      .filelist table tr:focus td, .filelist table tr:focus input, .filelist table tr:hover td, .filelist table tr:hover input {
        background: #f7f7f7 !important; }
    /* line 73, ../scss/_tablefiles.scss */
    .filelist table td {
      border-right: 1px solid #cccccc;
      padding: 10px;
      transition: all 0.2s; }
      /* line 77, ../scss/_tablefiles.scss */
      .filelist table td:last-child {
        border-right: 0px; }
      /* line 80, ../scss/_tablefiles.scss */
      .filelist table td.selected {
        background: #d7e4ef; }
    /* line 85, ../scss/_tablefiles.scss */
    .filelist table input {
      font-size: 14px;
      background: none;
      outline: none;
      border: 0;
      display: table-cell;
      height: 100%; }
      /* line 92, ../scss/_tablefiles.scss */
      .filelist table input:focus {
        box-shadow: 0 1px 0 steelblue;
        color: steelblue; }
    /* line 97, ../scss/_tablefiles.scss */
    .filelist table .col1 {
      width: 5% !important;
      text-align: center; }
    /* line 102, ../scss/_tablefiles.scss */
    .filelist table .col4 {
      padding: 0px !important; }
    /* line 106, ../scss/_tablefiles.scss */
    .filelist table .col4 input {
      width: calc(100% - 10px) !important;
      height: 100% !important;
      border: none !important;
      padding: 5px !important;
      box-sizing: content-box !important; }

/* line 1, ../scss/_loadingpage.scss */
#loadingPage {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 400px;
  position: relative;
  display: none; }
  /* line 9, ../scss/_loadingpage.scss */
  #loadingPage span.loader {
    width: 120px;
    height: 120px;
    display: block;
    background: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    z-index: 9; }
  /* line 25, ../scss/_loadingpage.scss */
  #loadingPage span.logo {
    width: 30px;
    height: 30px;
    display: block;
    background: url("../img/bt.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    z-index: 10; }

/* line 1, ../scss/_startingpage.scss */
#startingPage {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 400px;
  position: relative; }
  /* line 8, ../scss/_startingpage.scss */
  #startingPage span.button {
    width: 220px;
    height: 52px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -26px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
    border: 1px solid #38678f;
    color: #666 !important;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    cursor: pointer; }
    /* line 29, ../scss/_startingpage.scss */
    #startingPage span.button:hover {
      background: #FDCE0E; }

/* line 1, ../scss/_options.scss */
html.options {
  width: 100%;
  height: 100%;
  background: steelblue;
  margin: 0;
  padding: 0; }
  /* line 7, ../scss/_options.scss */
  html.options body {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px; }
  /* line 17, ../scss/_options.scss */
  html.options span.button_reversed {
    min-width: 50px;
    width: auto;
    height: 40px;
    background: steelblue;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    animation: float 5s infinite;
    border: 1px solid #38678f;
    color: white;
    padding: 8px 25px;
    display: block;
    position: relative;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    white-space: nowrap; }
    /* line 33, ../scss/_options.scss */
    html.options span.button_reversed:hover {
      background: #FDCE0E;
      color: #494949;
      border-color: #CA9B00; }
  /* line 40, ../scss/_options.scss */
  html.options div#PAGE_OPTIONS {
    width: 100%;
    max-width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
    border: 1px solid #38678f;
    background: whitesmoke; }
    /* line 53, ../scss/_options.scss */
    html.options div#PAGE_OPTIONS .panel {
      width: 98%;
      height: auto;
      overflow: hidden;
      margin: 0px auto;
      padding: 10px;
      background: white;
      border: 1px solid #e0e0e0;
      padding: 20px;
      margin-bottom: 20px; }
      /* line 64, ../scss/_options.scss */
      html.options div#PAGE_OPTIONS .panel h1 {
        font-size: 22px;
        color: #666;
        font-weight: 100;
        padding: 0;
        margin: 10px 0px 20px 0px; }
      /* line 72, ../scss/_options.scss */
      html.options div#PAGE_OPTIONS .panel select {
        padding: 10px; }
        /* line 75, ../scss/_options.scss */
        html.options div#PAGE_OPTIONS .panel select options {
          padding: 10px; }
      /* line 81, ../scss/_options.scss */
      html.options div#PAGE_OPTIONS .panel div.selectContainer {
        width: auto;
        height: auto;
        overflow: hidden;
        float: left;
        padding-top: 8px; }
      /* line 89, ../scss/_options.scss */
      html.options div#PAGE_OPTIONS .panel div.btnContainer {
        width: auto;
        height: auto;
        overflow: hidden;
        float: left; }
        /* line 94, ../scss/_options.scss */
        html.options div#PAGE_OPTIONS .panel div.btnContainer span.button_reversed {
          float: left; }
      /* line 99, ../scss/_options.scss */
      html.options div#PAGE_OPTIONS .panel label {
        margin: 10px 0px;
        display: block; }
        /* line 102, ../scss/_options.scss */
        html.options div#PAGE_OPTIONS .panel label span {
          height: 35px;
          line-height: 35px;
          display: block;
          width: 20%;
          float: left; }
        /* line 109, ../scss/_options.scss */
        html.options div#PAGE_OPTIONS .panel label input {
          width: 80%; }
      /* line 114, ../scss/_options.scss */
      html.options div#PAGE_OPTIONS .panel input {
        height: 35px;
        backgroun: white;
        border: 1px solid #e0e0e0;
        padding: 5px 10px; }
